 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Splash&display=swap" rel="stylesheet"> 
   <link rel="stylesheet" href="icomoon/style.css">
   <link rel="stylesheet" href="css/owl.carousel.min.css">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="css/bootstrap.min.css">  
   <!-- Style -->
   <link rel="stylesheet" href="css/style.css">
   <title>Grimoire</title>
 </head>

 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top">
    <nav>
      <a href="/login" class="logo me-auto"><img src="images/grimoire-logo.png" alt="book logo"></a>
      <a href="/logout">Logout</a>
    </nav>
 </header>

  <body>
    
    
    
