<div class="bg order-1 order-md-2" style="background-image: url('images/bg_1.jpeg');">

    <section class="intro">
        <h1>Grimoire</h1>
        <h4>Organize, Prepare, & Conquer</h4>
        <span>A spellbook app for your D&D characters</span>
    </section>

</div>