<%- include('partials/header.ejs') %>

 

<div class="d-lg-flex half">
  <!-- intro -->
  <%- include('partials/intro.ejs') %>


  <!-- forms -->
    <div class="contents order-2 order-md-1"> 
      <div class="container">
        <div class="row align-items-center justify-content-center" id="sign-up-form">
          <div class="col-md-7">
            <a href="/login" >
              <input type="submit" value="Login" class="btn btn-block btn-primary">
            </a>
            <a href="/signup" >
              <input type="submit" value="Sign Up" class="btn btn-block btn-primary">
            </a>
          </div>
        </div>
      </div>
  </div>
  
<%- include('partials/footer.ejs') %>




